Vamos a comenzar con un proyecto de Data Analyst que se trata de las telecomunicaciones para lo cual vamos a extraer los datos de la Api de Enacom (Ente Nacional de Comunicaciones)

Importaremos las librerías necesarias

In [27]:
import pandas as pd

In [28]:
import matplotlib.pyplot as plt

In [2]:
df_penetracion_internet = pd.read_csv('../DATA/Internet_Penetracion.csv')

In [3]:
df_penetracion_internet

,Año,Trimestre,Provincia,Accesos por cada 100 hogares,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,2022,4,Buenos Aires,"78,94",NaN,NaN,NaN
1,2022,4,Capital Federal,"122,73",NaN,NaN,NaN
2,2022,4,Catamarca,"65,77",NaN,NaN,NaN
3,2022,4,Chaco,"43,62",NaN,NaN,NaN
4,2022,4,Chubut,"85,57",NaN,NaN,NaN
...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,"28,94",NaN,NaN,NaN
860,2014,1,Santa Fe,"47,85",NaN,NaN,NaN
861,2014,1,Santiago Del Estero,"16,31",NaN,NaN,NaN
862,2014,1,Tierra Del Fuego,"63,97",NaN,NaN,NaN
863,2014,1,Tucumán,"33,42",NaN,NaN,NaN

Elimino las columnas Unnamed

In [4]:
df_penetracion_internet = df_penetracion_internet.loc[:, ~df_penetracion_internet.columns.str.contains('^Unnamed')]

Reemplazo la coma por el punto de la columna Accesos por cada 100 hogares. Y cambio el tipo de dato a float

In [5]:
df_penetracion_internet['Accesos por cada 100 hogares'] = df_penetracion_internet['Accesos por cada 100 hogares'].str.replace(',', '.').astype(float)

C:\Users\MI PC\AppData\Local\Temp\ipykernel_14928\3145925130.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_penetracion_internet['Accesos por cada 100 hogares'] = df_penetracion_internet['Accesos por cada 100 hogares'].str.replace(',', '.').astype(float)

In [6]:
df_penetracion_internet

      Año  Trimestre            Provincia  Accesos por cada 100 hogares
0    2022          4         Buenos Aires                         78.94
1    2022          4      Capital Federal                        122.73
2    2022          4            Catamarca                         65.77
3    2022          4                Chaco                         43.62
4    2022          4               Chubut                         85.57
..    ...        ...                  ...                           ...
859  2014          1           Santa Cruz                         28.94
860  2014          1             Santa Fe                         47.85
861  2014          1  Santiago Del Estero                         16.31
862  2014          1     Tierra Del Fuego                         63.97
863  2014          1              Tucumán                         33.42

[864 rows x 4 columns]

In [8]:
df_penetracion_internet.to_csv('penetracion1.csv', index=False)

Voy a crear un dataframe de un csv.

In [9]:
df_banda_ancha = pd.read_csv('../DATA/Internet_BAF.csv')

In [10]:
df_banda_ancha

     Año  Trimestre  Banda ancha fija  Dial up  Total        Periodo
0   2022          4                11       12     11   Oct-Dic 2022
1   2022          3                11       12     11  Jul-Sept 2022
2   2022          2                11       12     11   Abr-Jun 2022
3   2022          1                11       13     11   Ene-Mar 2022
4   2021          4                10       13     10   Oct-Dic 2021
5   2021          3                10       10     10  Jul-Sept 2021
6   2021          2                10       10     10   Abr-Jun 2021
7   2021          1                10       10     10   Ene-Mar 2021
8   2020          4                10       10     10   Oct-Dic 2020
9   2020          3                 9       10      9  Jul-Sept 2020
10  2020          2                 9       10      9   Abr-Jun 2020
11  2020          1                 9       10      9   Ene-Mar 2020
12  2019          4                 9       10      9   Oct-Dic 2019
13  2019          3                 9       22      9  Jul-Sept 2019
14  2019          2                 9       22      9   Abr-Jun 2019
15  2019          1                 9       22      9   Ene-Mar 2019
16  2018          4                 8       22      8   Oct-Dic 2018
17  2018          3                 8       27      8  Jul-Sept 2018
18  2018          2                 8       27      8   Abr-Jun 2018
19  2018          1                 8       27      8   Ene-Mar 2018
20  2017          4                 8       27      8   Oct-Dic 2017
21  2017          3                 8       28      8  Jul-Sept 2017
22  2017          2                 7       29      7   Abr-Jun 2017
23  2017          1                 7       29      7   Ene-Mar 2017
24  2016          4                 7       29      7   Oct-Dic 2016
25  2016          3                 7       29      7  Jul-Sept 2016
26  2016          2                 7       32      7   Abr-Jun 2016
27  2016          1                 7       33      7   Ene-Mar 2016
28  2015          4                 7       33      7   Oct-Dic 2015
29  2015          3                 7       33      7  Jul-Sept 2015
30  2015          2                 7       33      7   Abr-Jun 2015
31  2015          1                 7       38      7   Ene-Mar 2015
32  2014          4                 7       39      7   Oct-Dic 2014
33  2014          3                 7       36      7  Jul-Sept 2014
34  2014          2                 6       36      6   Abr-Jun 2014
35  2014          1                 6       36      6   Ene-Mar 2014

In [50]:
df_internet_acceso_tec =pd.read_csv('../DATA/INTERNET/Internet_Accesos-por-tecnologia.csv')

In [51]:
df_internet_acceso_tec

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total
0,2022,4,Buenos Aires,326.0,3.0,1.0,130.0,72.0,5.0
1,2022,4,Capital Federal,139.0,1.0,139.0,5.0,32.0,2.0
2,2022,4,Catamarca,9.0,11.0,47.0,1.0,2.0,71.0
3,2022,4,Chaco,25.0,61.0,47.0,8.0,3.0,144.0
4,2022,4,Chubut,45.0,74.0,10.0,31.0,9.0,169.0
...,...,...,...,...,...,...,...,...,...
860,2014,1,Santa Fe,323.0,174.0,3.0,6.0,644.0,507.0
861,2014,1,Santiago Del Estero,33.0,4.0,19.0,915.0,34.0,37.0
862,2014,1,Tierra Del Fuego,22.0,3.0,648.0,1.0,3.0,28.0
863,2014,1,Tucumán,130.0,83.0,121.0,13.0,98.0,130.0
864,*,Los datos provinciales no coinciden a nivel na...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
df_internet_acceso_tec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865 entries, 0 to 864
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           865 non-null    object
 1   Trimestre     865 non-null    object
 2   Provincia     864 non-null    object
 3   ADSL          864 non-null    float64
 4   Cablemodem    864 non-null    float64
 5   Fibra óptica  864 non-null    float64
 6   Wireless      864 non-null    float64
 7   Otros         864 non-null    float64
 8   Total         864 non-null    float64
dtypes: float64(6), object(3)
memory usage: 60.9+ KB

Se eliminarán las filas que tengan más de 4 valores nulos.

In [53]:
df_internet_acceso_tec.dropna(thresh=4, inplace=True)

Voy a cambiar el tipo de datos de las columnas ADSL, Cablemodem, Fibra óptica, Wireless, Otros y Total

In [54]:
df_internet_acceso_tec['ADSL'] = df_internet_acceso_tec['ADSL'].astype(int)

In [56]:
df_internet_acceso_tec['Cablemodem'] = df_internet_acceso_tec['Cablemodem'].astype(int)

In [58]:
df_internet_acceso_tec['Fibra óptica'] = df_internet_acceso_tec['Fibra óptica'].astype(int)

In [59]:
df_internet_acceso_tec['Wireless'] = df_internet_acceso_tec['Wireless'].astype(int)

In [60]:
df_internet_acceso_tec['Otros'] = df_internet_acceso_tec['Otros'].astype(int)

In [61]:
df_internet_acceso_tec['Total'] = df_internet_acceso_tec['Total'].astype(int)

Reemplazo en la columna año '2019 *' por '2019'

In [63]:
df_internet_acceso_tec['Año']=df_internet_acceso_tec['Año'].replace('2019 *', '2019')

Reemplazo en la columna Trimestre '3 *' por '3'

In [65]:
df_internet_acceso_tec['Trimestre']=df_internet_acceso_tec['Trimestre'].replace('3 *', '3')

Reemplazo en la columna Trimestre '2 *' por '2'

In [66]:
df_internet_acceso_tec['Trimestre']=df_internet_acceso_tec['Trimestre'].replace('2 *', '2')

Reemplazo en la columna Trimestre '1 *' por '1'

In [68]:
df_internet_acceso_tec['Trimestre']=df_internet_acceso_tec['Trimestre'].replace('1 *', '1')

Una vez que realice las modificaciones que considere necesarias. Crearé un csv para guardar el dataframe df_internet_acceso_tec.

In [69]:
df_internet_acceso_tec.to_csv('internet_tecnologia.csv', index=False)

Vamos a crear un dataframe a partir del csv

In [239]:
df_internet_acceso_vel = pd.read_csv('../DATA/INTERNET/Internet_Accesos-por-velocidad.csv')

In [240]:
df_internet_acceso_vel

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,4,Buenos Aires,28.934,23.347,259.866,281.550,244.555,98.670,3.760.109,97.634,4.794.665
1,2022,4,Capital Federal,516.000,5.096,31.320,64.653,36.336,8.116,1.299.117,106.772,1.551.926
2,2022,4,Catamarca,71.000,315.000,2.716,5.028,4.638,3.122,52.739,2.280,70.909
3,2022,4,Chaco,461.000,771.000,16.067,17.846,6.704,3.039,94.866,3.909,143.663
4,2022,4,Chubut,109.000,1.614,46.457,31.007,34.728,15.770,19.048,20.026,168.759
...,...,...,...,...,...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,161.000,1.625,24.972,1.000,1.000,0.000,0,0.000,26.760
860,2014,1,Santa Fe,8.456,124.468,345.225,20.328,6.845,23.000,668,0.000,506.013
861,2014,1,Santiago Del Estero,1.234,10.531,22.817,2.422,109.000,0.000,0,0.000,37.113
862,2014,1,Tierra Del Fuego,12.000,607.000,30.902,6.000,0.000,0.000,0,0.000,31.527
863,2014,1,Tucumán,6.000,34.672,83.210,11.779,362.000,3.000,0,0.000,130.032

In [241]:
df_internet_acceso_vel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  864 non-null    int64
 1   Trimestre            864 non-null    int64
 2   Provincia            864 non-null    object
 3   HASTA 512 kbps       864 non-null    float64
 4   + 512 Kbps - 1 Mbps  864 non-null    float64
 5   + 1 Mbps - 6 Mbps    864 non-null    object
 6   + 6 Mbps - 10 Mbps   864 non-null    float64
 7   + 10 Mbps - 20 Mbps  864 non-null    float64
 8   + 20 Mbps - 30 Mbps  864 non-null    float64
 9   + 30 Mbps            864 non-null    object
 10  OTROS                858 non-null    float64
 11  Total                864 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 81.1+ KB

Cambiaré los tipo de datos de las columnas para conseguir que las columnas que continen velocidad de internet tengan el tipo entero.

In [242]:
df_internet_acceso_vel['HASTA 512 kbps'] = df_internet_acceso_vel['HASTA 512 kbps'].astype(object)
df_internet_acceso_vel['HASTA 512 kbps'] = df_internet_acceso_vel['HASTA 512 kbps'].astype(str).str.replace('.', '').str.replace(',', '.').astype(int)

In [243]:
df_internet_acceso_vel['+ 512 Kbps - 1 Mbps'] = df_internet_acceso_vel['+ 512 Kbps - 1 Mbps'].astype(object)
df_internet_acceso_vel['+ 512 Kbps - 1 Mbps'] = df_internet_acceso_vel['+ 512 Kbps - 1 Mbps'].astype(str).str.replace('.', '').str.replace(',', '.').astype(int)

In [245]:
df_internet_acceso_vel['+ 1 Mbps - 6 Mbps'] = df_internet_acceso_vel['+ 1 Mbps - 6 Mbps'].astype(str).str.replace('.', '').str.replace(',', '.').astype(int)

In [247]:
df_internet_acceso_vel['+ 6 Mbps - 10 Mbps'] = df_internet_acceso_vel['+ 6 Mbps - 10 Mbps'].astype(object)
df_internet_acceso_vel['+ 6 Mbps - 10 Mbps'] = df_internet_acceso_vel['+ 6 Mbps - 10 Mbps'].astype(str).str.replace('.', '').str.replace(',', '.').astype(int)

In [248]:
df_internet_acceso_vel['+ 10 Mbps - 20 Mbps'] = df_internet_acceso_vel['+ 10 Mbps - 20 Mbps'].astype(object)
df_internet_acceso_vel['+ 10 Mbps - 20 Mbps'] = df_internet_acceso_vel['+ 10 Mbps - 20 Mbps'].astype(str).str.replace('.', '').str.replace(',', '.').astype(int)

In [250]:
df_internet_acceso_vel['+ 20 Mbps - 30 Mbps'] = df_internet_acceso_vel['+ 20 Mbps - 30 Mbps'].astype(object)
df_internet_acceso_vel['+ 20 Mbps - 30 Mbps'] = df_internet_acceso_vel['+ 20 Mbps - 30 Mbps'].astype(str).str.replace('.', '').str.replace(',', '.').astype(int)

In [251]:
df_internet_acceso_vel['+ 30 Mbps'] = df_internet_acceso_vel['+ 30 Mbps'].astype(str).str.replace('.', '').str.replace(',', '.').astype(int)

In [254]:
df_internet_acceso_vel['OTROS'] = df_internet_acceso_vel['OTROS'].astype(str).str.replace('.', '').str.replace(',', '.')
df_internet_acceso_vel['OTROS'] = pd.to_numeric(df_internet_acceso_vel['OTROS'], errors='coerce').fillna(0).astype(int)

In [256]:
df_internet_acceso_vel['Total'] = df_internet_acceso_vel['Total'].astype(str).str.replace('.', '').str.replace(',', '.').astype(int)

In [257]:
df_internet_acceso_vel

,Año,Trimestre,Provincia,HASTA 512 kbps,+ 512 Kbps - 1 Mbps,+ 1 Mbps - 6 Mbps,+ 6 Mbps - 10 Mbps,+ 10 Mbps - 20 Mbps,+ 20 Mbps - 30 Mbps,+ 30 Mbps,OTROS,Total
0,2022,4,Buenos Aires,28934,23347,259866,28155,244555,9867,3760109,97634,4794665
1,2022,4,Capital Federal,5160,5096,31320,64653,36336,8116,1299117,106772,1551926
2,2022,4,Catamarca,710,3150,2716,5028,4638,3122,52739,228,70909
3,2022,4,Chaco,4610,7710,16067,17846,6704,3039,94866,3909,143663
4,2022,4,Chubut,1090,1614,46457,31007,34728,1577,19048,20026,168759
...,...,...,...,...,...,...,...,...,...,...,...,...
859,2014,1,Santa Cruz,1610,1625,24972,10,10,0,0,0,26760
860,2014,1,Santa Fe,8456,124468,345225,20328,6845,230,668,0,506013
861,2014,1,Santiago Del Estero,1234,10531,22817,2422,1090,0,0,0,37113
862,2014,1,Tierra Del Fuego,120,6070,30902,60,0,0,0,0,31527
863,2014,1,Tucumán,60,34672,83210,11779,3620,30,0,0,130032

Guardo en un csv el dataframe df_internet_acceso_vel

In [259]:
df_internet_acceso_vel.to_csv('acceso_vel.csv', index='False')

Voy a crear un dataframe de un csv

In [30]:
df_localidad_conectividad = pd.read_csv('../DATA/INTERNET/Listadodelocalidadesconconectividadainternet_2750221699395787528.csv')

In [31]:
df_localidad_conectividad

,Provincia,Partido,Localidad,ADSL,Cablemódem,Dial Up,Fibra óptica,4G,3G,Telefonía Fija,Wireless,Satelital
0,BUENOS AIRES,9 de Julio,Alfredo Demarchi (Est. Facundo Quiroga),SI,--,--,--,SI,SI,SI,--,--
1,BUENOS AIRES,9 de Julio,Carlos María Naón,--,--,--,--,SI,SI,SI,--,--
2,BUENOS AIRES,9 de Julio,Dudignac,--,--,SI,--,SI,SI,SI,SI,--
3,BUENOS AIRES,9 de Julio,La Aurora (Est. La Niña),--,--,--,--,SI,--,--,--,--
4,BUENOS AIRES,9 de Julio,Manuel B. Gonnet (Est. French),SI,--,--,SI,SI,SI,SI,--,--
...,...,...,...,...,...,...,...,...,...,...,...,...
4306,BUENOS AIRES,Pilar,Pilar,SI,SI,SI,SI,SI,SI,SI,SI,SI
4307,BUENOS AIRES,Pilar,Presidente Derqui,SI,SI,--,SI,SI,SI,SI,SI,--
4308,BUENOS AIRES,Pilar,Roberto De Vicenzo,--,--,--,--,SI,SI,--,--,--
4309,BUENOS AIRES,Pilar,Santa Teresa,--,--,--,--,SI,SI,--,--,SI
4310,BUENOS AIRES,Pilar,Tortuguitas,--,--,--,SI,SI,SI,--,SI,SI

Eliminaré duplicados

In [32]:
df_localidad_conectividad = df_localidad_conectividad.drop_duplicates()

Guardo en un csv

In [33]:
df_localidad_conectividad.to_csv('conectividad.csv')

In [5]:
df_penetracion_internet_por100hab= pd.read_csv('../DATA/INTERNET/Internet_Penetracion (1).csv')

In [6]:
df_penetracion_internet_por100hab

,Año,Trimestre,Accesos por cada 100 hogares,Accesos por cada 100 hab,Periodo
0,2022,4,"77,21","24,15",Oct-Dic 2022
1,2022,3,"76,64","23,95",Jul-Sept 2022
2,2022,2,"75,97","23,72",Abr-Jun 2022
3,2022,1,"73,88","23,05",Ene-Mar 2022
4,2021,4,"73,18","22,81",Oct-Dic 2021
5,2021,3,"70,58","21,98",Jul-Sept 2021
6,2021,2,"69,24","21,55",Abr-Jun 2021
7,2021,1,"67,95","21,13",Ene-Mar 2021
8,2020,4,"67,62","21,01",Oct-Dic 2020
9,2020,3,"66,31","20,59",Jul-Sept 2020
10,2020,2,"64,21","19,92",Abr-Jun 2020
11,2020,1,"62,86","19,48",Ene-Mar 2020
12,2019,4,"62,92","19,49",Oct-Dic 2019
13,2019,3,"65,79","20,36",Jul-Sept 2019
14,2019,2,"64,53","19,96",Abr-Jun 2019
15,2019,1,"62,48","19,31",Ene-Mar 2019
16,2018,4,"61,42","18,97",Oct-Dic 2018
17,2018,3,"60,69","18,73",Jul-Sept 2018
18,2018,2,"59,16","18,24",Abr-Jun 2018
19,2018,1,"58,82","18,12",Ene-Mar 2018
20,2017,4,"57,78","17,79",Oct-Dic 2017
21,2017,3,"56,90","17,51",Jul-Sept 2017
22,2017,2,"54,90","16,88",Abr-Jun 2017
23,2017,1,"54,16","16,64",Ene-Mar 2017
24,2016,4,"53,94","16,56",Oct-Dic 2016
25,2016,3,"53,73","16,50",Jul-Sept 2016
26,2016,2,"53,34","16,37",Abr-Jun 2016
27,2016,1,"51,85","15,90",Ene-Mar 2016
28,2015,4,"52,63","16,12",Oct-Dic 2015
29,2015,3,"52,46","16,05",Jul-Sept 2015
30,2015,2,"51,76","15,82",Abr-Jun 2015
31,2015,1,"51,36","15,68",Ene-Mar 2015
32,2014,4,"50,50","15,39",Oct-Dic 2014
33,2014,3,"50,67","15,43",Jul-Sept 2014
34,2014,2,"49,86","15,16",Abr-Jun 2014
35,2014,1,"49,55","15,05",Ene-Mar 2014

Cambiaré el tipo de datos

In [7]:
df_penetracion_internet_por100hab['Accesos por cada 100 hogares'] = df_penetracion_internet_por100hab['Accesos por cada 100 hogares'].str.replace(',', '.').astype(float)

In [10]:
df_penetracion_internet_por100hab['Accesos por cada 100 hab'] = df_penetracion_internet_por100hab['Accesos por cada 100 hab'].str.replace(',', '.').astype(float)

Guardaré el dataframe en un csv

In [12]:
df_penetracion_internet_por100hab.to_csv('penetracion2.csv', index=False)

In [19]:
df_banda_ancha_por_provincia =pd.read_csv('../DATA/Internet_BAF (4).csv')

In [20]:
df_banda_ancha_por_provincia

      Año  Trimestre            Provincia  Banda ancha fija  Dial up  Total
0    2022          4         Buenos Aires                 5      6.0      5
1    2022          4      Capital Federal                 2      2.0      2
2    2022          4            Catamarca                71      1.0     71
3    2022          4                Chaco               144      5.0    144
4    2022          4               Chubut               168    904.0    169
..    ...        ...                  ...               ...      ...    ...
859  2014          1           Santa Cruz                26    460.0     27
860  2014          1             Santa Fe               506    612.0    507
861  2014          1  Santiago Del Estero                37      9.0     37
862  2014          1     Tierra Del Fuego                27    766.0     28
863  2014          1              Tucumán               130     88.0    130

[864 rows x 6 columns]

In [17]:
df_internet_vel_bajada_provincias = pd.read_csv('../DATA/INTERNET/AccesosaInternetfijoporvelocidadbajadayprovincia_2791741699403966054.csv')

In [18]:
df_internet_vel_bajada_provincias

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,63 Mbps,64 Mbps,65 Mbps,66 Mbps,67 Mbps,68 Mbps,70 Mbps,71 Mbps,75 Mbps,77 Mbps
0,2022.0,4.0,Buenos Aires,97.634,18,- 0,- 0,28.724,192,4.611,...,- 0,- 0,14,- 0,- 0,- 0,5.655,- 0,90.796,- 0
1,2022.0,4.0,Capital Federal,106.772,31,- 0,- 0,451.000,34,1.307,...,- 0,- 0,- 0,1,- 0,- 0,15,- 0,28.406,- 0
2,2022.0,4.0,Catamarca,2.280,- 0,- 0,- 0,34.000,37,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
3,2022.0,4.0,Chaco,3.909,- 0,225,111,234.000,2,- 0,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
4,2022.0,4.0,Chubut,20.026,8,- 0,- 0,69.000,32,836,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,2017.0,4.0,Santa Fe,14.119,- 0,- 0,- 0,3.109,- 0,7.637,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
501,2017.0,4.0,Santiago Del Estero,- 0,- 0,- 0,- 0,41.000,- 0,909,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
502,2017.0,4.0,Tierra Del Fuego,- 0,- 0,- 0,- 0,6.000,- 0,282,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
503,2017.0,4.0,Tucumán,- 0,- 0,- 0,- 0,105.000,- 0,1,...,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0,- 0
504,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
# Imprime los nombres de las columnas
print(df_internet_vel_bajada_provincias.columns)

Index(['Año', 'Trimestre', 'Provincia', 'Otros', '0,256 Mbps', '0,375 Mbps',
       '0,625 Mbps', '0,5 Mbps', '0,512 Mbps', '0,75 Mbps', '1 Mbps',
       '1,2 Mbps', '1,25 Mbps', '1,5 Mbps', '2 Mbps', '2,2 Mbps', '2,5 Mbps',
       '6,7 Mbps', '3 Mbps', '3,2 Mbps', '3,3 Mbps', '3,5 Mbps', '4 Mbps',
       '4,5 Mbps', '5 Mbps', '6 Mbps', '6,4 Mbps', '7 Mbps', '7,5 Mbps',
       '8 Mbps', '9 Mbps', '10 Mbps', '10,2 Mbps', '10,6 Mbps', '11 Mbps',
       '12 Mbps', '12,3 Mbps', '13 Mbps', '14 Mbps', '15 Mbps', '16 Mbps',
       '17 Mbps', '18 Mbps', '19 Mbps', '20 Mbps', '20,5 Mbps', '21 Mbps',
       '22 Mbps', '23 Mbps', '24 Mbps', '25 Mbps', '25,1 Mbps', '25,11 Mbps',
       '25,5 Mbps', '26 Mbps', '27 Mbps', '28 Mbps', '29 Mbps', '30 Mbps',
       '31 Mbps', '32 Mbps', '34 Mbps', '35 Mbps', '36 Mbps', '37 Mbps',
       '38 Mbps', '39 Mbps', '40 Mbps', '41 Mbps', '45 Mbps', '46 Mbps',
       '47 Mbps', '48 Mbps', '49 Mbps', '50 Mbps', '50,1 Mbps', '51 Mbps',
       '50,25 Mbps', '52 Mbps', '54 Mbps', '55 Mbps', '56 Mbps', '58 Mbps',
       '59 Mbps', '60 Mbps', '61 Mbps', '62 Mbps', '63 Mbps', '64 Mbps',
       '65 Mbps', '66 Mbps', '67 Mbps', '68 Mbps', '70 Mbps', '71 Mbps',
       '75 Mbps', '77 Mbps'],
      dtype='object')

In [56]:
print(df_internet_vel_bajada_provincias['20,5 Mbps'].value_counts())

20,5 Mbps
0      479
- 0     23
1        2
Name: count, dtype: int64

In [43]:
print(df_internet_vel_bajada_provincias['63 Mbps'].value_counts())

63 Mbps
- 0    475
0       24
148      5
Name: count, dtype: int64

In [44]:
print(df_internet_vel_bajada_provincias['64 Mbps'].value_counts())

64 Mbps
- 0    466
0       23
4       10
1        4
8        1
Name: count, dtype: int64

In [45]:
print(df_internet_vel_bajada_provincias['65 Mbps'].value_counts())

65 Mbps
- 0    455
0       23
1       15
6        3
2        3
14       2
4        2
10       1
Name: count, dtype: int64

In [46]:
print(df_internet_vel_bajada_provincias['66 Mbps'].value_counts())

66 Mbps
- 0    467
0       23
1       14
Name: count, dtype: int64

In [47]:
print(df_internet_vel_bajada_provincias['67 Mbps'].value_counts())

67 Mbps
- 0    472
0       24
1        8
Name: count, dtype: int64

In [48]:
print(df_internet_vel_bajada_provincias['68 Mbps'].value_counts())

68 Mbps
- 0    478
0       24
2        2
Name: count, dtype: int64

In [49]:
print(df_internet_vel_bajada_provincias['70 Mbps'].value_counts())

70 Mbps
- 0      402
3         19
2         19
0         19
1         16
5          7
22         3
133        3
1.044      3
3.163      3
15         2
134        2
6          2
5655       1
5.161      1
24         1
5.655      1
Name: count, dtype: int64

In [50]:
print(df_internet_vel_bajada_provincias['75 Mbps'].value_counts())

75 Mbps
- 0        426
0           17
1           15
2            5
49           5
553          3
4.666        3
12           3
104          2
13.595       2
75           2
54           2
166          2
51           2
104.021      1
32.185       1
117          1
236          1
13.593       1
13.577       1
44.977       1
90796        1
31.751       1
98.523       1
31.684       1
100.884      1
28.406       1
28406        1
90.796       1
Name: count, dtype: int64

In [52]:
print(df_internet_vel_bajada_provincias['77 Mbps'].value_counts())

77 Mbps
- 0    478
0       24
2        2
Name: count, dtype: int64

In [53]:
# Imprime los nombres de las columnas
print(df_internet_vel_bajada_provincias.columns)

Index(['Año', 'Trimestre', 'Provincia', 'Otros', '0,256 Mbps', '0,375 Mbps',
       '0,625 Mbps', '0,5 Mbps', '0,512 Mbps', '0,75 Mbps', '1 Mbps',
       '1,2 Mbps', '1,25 Mbps', '1,5 Mbps', '2 Mbps', '2,2 Mbps', '2,5 Mbps',
       '6,7 Mbps', '3 Mbps', '3,2 Mbps', '3,3 Mbps', '3,5 Mbps', '4 Mbps',
       '4,5 Mbps', '5 Mbps', '6 Mbps', '6,4 Mbps', '7 Mbps', '7,5 Mbps',
       '8 Mbps', '9 Mbps', '10 Mbps', '10,2 Mbps', '10,6 Mbps', '11 Mbps',
       '12 Mbps', '12,3 Mbps', '13 Mbps', '14 Mbps', '15 Mbps', '16 Mbps',
       '17 Mbps', '18 Mbps', '19 Mbps', '20 Mbps', '20,5 Mbps', '21 Mbps',
       '22 Mbps', '23 Mbps', '24 Mbps', '25 Mbps', '25,1 Mbps', '25,11 Mbps',
       '25,5 Mbps', '26 Mbps', '27 Mbps', '28 Mbps', '29 Mbps', '30 Mbps',
       '31 Mbps', '32 Mbps', '34 Mbps', '35 Mbps', '36 Mbps', '37 Mbps',
       '38 Mbps', '39 Mbps', '40 Mbps', '41 Mbps', '45 Mbps', '46 Mbps',
       '47 Mbps', '48 Mbps', '49 Mbps', '50 Mbps', '50,1 Mbps', '51 Mbps',
       '50,25 Mbps', '52 Mbps', '54 Mbps', '55 Mbps', '56 Mbps', '58 Mbps',
       '59 Mbps', '60 Mbps', '61 Mbps', '62 Mbps', '63 Mbps', '64 Mbps',
       '65 Mbps', '66 Mbps', '67 Mbps', '68 Mbps', '70 Mbps', '71 Mbps',
       '75 Mbps', '77 Mbps'],
      dtype='object')

Voy a crear un dataframe a partir de un csv

In [4]:
df_acceso_por_tec_y_localidad = pd.read_csv('../DATA/INTERNET/AccesosaInternetfijoportecnologiaylocalidad_2791751699327160311.csv')

In [5]:
df_acceso_por_tec_y_localidad

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general,Unnamed: 13
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,874,"4,54",- 0,3,- 0,852,- 0,706,"6,98",NaN
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,- 0,- 0,- 0,10,1,- 0,- 0,192,NaN
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,- 0,- 0,- 0,- 0,- 0,- 0,- 0,181,181,NaN
3,BUENOS AIRES,25 de Mayo,Norberto de la Riestra,6854060,- 0,782,- 0,6,167,- 0,- 0,327,"1,28",NaN
4,BUENOS AIRES,25 de Mayo,Lucas Monteverde,6854050,- 0,- 0,- 0,- 0,- 0,- 0,- 0,6,6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3132,TUCUMAN,Tafí Viejo,Villa Mariano Moreno - El Colmenar,90105100,- 0,31,- 0,"3,73",- 0,- 0,- 0,- 0,"3,76",NaN
3133,TUCUMAN,Trancas,San Pedro de Colalao,90112020,- 0,- 0,- 0,- 0,- 0,- 0,- 0,313,313,NaN
3134,TUCUMAN,Trancas,Villa de Trancas,90112030,126,- 0,- 0,- 0,33,- 0,- 0,101,260,NaN
3135,TUCUMAN,Yerba Buena,Villa Carmela,90119020,"1,5",- 0,- 0,- 0,1,- 0,- 0,97,"1,6",NaN
3136,TUCUMAN,Yerba Buena,Yerba Buena - Marcos Paz,90119030,129,209,- 0,"15,4",33,- 0,- 0,- 0,"15,78",NaN

Elimino la columna Unnamed: 13

In [7]:
df_acceso_por_tec_y_localidad = df_acceso_por_tec_y_localidad.drop(columns='Unnamed: 13')

In [10]:
df_acceso_por_tec_y_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3137 entries, 0 to 3136
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3137 non-null   object
 1   Partido        3137 non-null   object
 2   Localidad      3137 non-null   object
 3   Link Indec     3137 non-null   object
 4   ADSL           3137 non-null   object
 5   CABLEMODEM     3137 non-null   object
 6   DIAL UP        3137 non-null   object
 7   FIBRA OPTICA   3137 non-null   object
 8   OTROS          3137 non-null   object
 9   SATELITAL      3137 non-null   object
 10  WIMAX          3137 non-null   object
 11  WIRELESS       3137 non-null   object
 12  Total general  3137 non-null   object
dtypes: object(13)
memory usage: 318.7+ KB

Realizare los cambios de tipo de datos de object a float.

In [23]:
df_acceso_por_tec_y_localidad['ADSL']= df_acceso_por_tec_y_localidad['ADSL'].replace ('- 0','0').astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
df_acceso_por_tec_y_localidad['CABLEMODEM']= df_acceso_por_tec_y_localidad['CABLEMODEM'].replace ('- 0','0').astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
df_acceso_por_tec_y_localidad['DIAL UP']= df_acceso_por_tec_y_localidad['DIAL UP'].replace ('- 0','0').astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
df_acceso_por_tec_y_localidad['FIBRA OPTICA']= df_acceso_por_tec_y_localidad['FIBRA OPTICA'].replace ('- 0','0').astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
df_acceso_por_tec_y_localidad['OTROS']= df_acceso_por_tec_y_localidad['OTROS'].replace ('- 0','0').astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
df_acceso_por_tec_y_localidad['SATELITAL']= df_acceso_por_tec_y_localidad['SATELITAL'].replace ('- 0','0').astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
df_acceso_por_tec_y_localidad['WIMAX']= df_acceso_por_tec_y_localidad['WIMAX'].replace ('- 0','0').astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
df_acceso_por_tec_y_localidad['WIRELESS']= df_acceso_por_tec_y_localidad['WIRELESS'].replace ('- 0','0').astype(str).str.replace('.', '').str.replace(',', '.').astype(float)
df_acceso_por_tec_y_localidad['Total general']= df_acceso_por_tec_y_localidad['Total general'].replace ('- 0','0').astype(str).str.replace('.', '').str.replace(',', '.').astype(float)

In [25]:
df_acceso_por_tec_y_localidad.to_csv('acceso_tec_localidad.csv', index=False)